<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" href="./assets/ico.png" type="image/x-icon">
    <title>Interface de Usuário</title>
</head>
<body>
   <header>
        <h1><%= titulo%></h1>
   </header>

   <main>
        <div>
            <form action="/create" method="POST">
                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao" cols="30" rows="10" placeholder="Digite a descrição da sua tarefa"></textarea>
                <label for="quando">Quando</label>
                <input type="datetime-local" name="quando" id="quando" value="new Date().toISOString().slice(0,16)">
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Descrição</td>
                    <td>Quando</td>
                    <td>Alterar</td>
                    <td>Excluir</td>
                </tr>
            </thead>
            <tbody>
                <% dados.forEach(t => {%>
                    <tr>
                        <td>
                            <%= t.id%>
                        </td>
                        <td>
                            <%= t.descricao%>
                        </td>
                        <td>
                            <%= t.quando.toISOString('pt-br').split('T')[0]%>
                            <%= t.quando.toISOString('pt-br').split('T')[1].slice(0,5)%>
                        </td>
                        <td>
                            <button> [ * ] </button>
                        </td>
                        <td>
                            <form action="/del/<%=t.id%>?_method=DELETE"  method="POST">
                              <input type="submit" value="[ - ]">
                            </form>
                        </td>
                    </tr>
                <%})%>
            </tbody>
        </table>
   </main>

   <footer></footer>
</body>
</html>